commandArgs:
  - "--key-renew-period"
  - "0"
crd:
  keep: false
rbac:
  create: true
resources:
  limits:
    cpu: {{ helm_sealed_secrets_resources_limits_cpu }}
    memory: {{ helm_sealed_secrets_resources_limits_memory }}
  requests:
    cpu: {{ helm_sealed_secrets_resources_requests_cpu }}
    memory: {{ helm_sealed_secrets_resources_requests_memory }}
secretName: sealed-secrets-key
serviceAccount:
  create: true
