commandArgs:
  - "--key-renew-period"
  - "0"
crd:
  keep: false
rbac:
  create: true
resources:
  limits:
    cpu: 50m
    memory: 64Mi
  requests:
    cpu: 50m
    memory: 64Mi
secretName: sealed-secrets-key
serviceAccount:
  create: true
