chartsSyncInterval: 1m
configureRepositories:
  enable: true
  repositories:
    - name: eks
      url: https://aws.github.io/eks-charts
    - name: stable
      url: https://kubernetes-charts.storage.googleapis.com
{% if helm_flux_helm_operator_repositories_tlnd_helm_name is defined and helm_flux_helm_operator_repositories_tlnd_helm_username is defined and helm_flux_helm_operator_repositories_tlnd_helm_password is defined %}
    - caFile: ""
      cache: "{{ helm_flux_helm_operator_repositories_tlnd_helm_name }}-index.yaml"
      certFile: ""
      keyFile: ""
      name: "{{ helm_flux_helm_operator_repositories_tlnd_helm_name }}"
      url: "https://artifactory.datapwn.com/artifactory/{{ helm_flux_helm_operator_repositories_tlnd_helm_name }}"
      username: "{{ helm_flux_helm_operator_repositories_tlnd_helm_username }}"
      password: "{{ helm_flux_helm_operator_repositories_tlnd_helm_password }}"
{% endif %}
create: true
git:
  pollInterval: 1m
{% if flux_git_deploy_pk is defined %}
  ssh:
    secretName: flux-git-deploy
{% endif %}
logFormat: json
resources:
  limits:
    cpu: {{ helm_flux_helm_operator_resources_limits_cpu }}
    memory: {{ helm_flux_helm_operator_resources_limits_memory }}
  requests:
    cpu: {{ helm_flux_helm_operator_resources_requests_cpu }}
    memory: {{ helm_flux_helm_operator_resources_requests_memory }}
rbac:
  create: true
tillerNamespace: "{{ helm_flux_helm_operator_namespace }}"
