additionalArgs:
  - --connect=ws://fluxcloud
clusterRole:
  create: true
syncGarbageCollection:
  enabled: true
git:
  branch: master
  label: "{{ cluster_name }}"
  path: "{{ cluster_name }}"
  pollInterval: 1m
  url: "{{ helm_flux_application_config_repository_git_url }}"
{% if flux_git_deploy_pk is defined %}
  secretName: flux-git-deploy
{% endif %}
logFormat: json
memcached:
  resources:
    limits:
      cpu: {{ helm_flux_memcached_resources_limits_cpu }}
      memory: {{ helm_flux_memcached_resources_limits_memory }}
    requests:
      cpu: {{ helm_flux_memcached_resources_requests_cpu }}
      memory: {{ helm_flux_memcached_resources_requests_memory }}
rbac:
  create: true
registry:
  pollInterval: 1m
resources:
  limits:
    cpu: {{ helm_flux_resources_limits_cpu }}
    memory: {{ helm_flux_resources_limits_memory }}
  requests:
    cpu: {{ helm_flux_resources_requests_cpu }}
    memory: {{ helm_flux_resources_requests_memory }}
serviceAccount:
  create: true
# Optional DNS settings, configuring the ndots option may resolve
# nslookup issues on some Kubernetes setups.
#dnsPolicy: "None"
dnsConfig:
  options:
    - name: ndots
      value: "1"
